<ng-container>
    <h3>{{formHeading}}</h3>
    <a routerLink="/">Go Back to Home Page</a>
    <form [formGroup] = "loginForm" class="form-styles" (ngSubmit)="onButtonSubmit()">
        <ng-container>
        <div>
            <span>User Id: </span> 
            <input class="leftMarginClass" formControlName="emailId" type="email" required/>
        </div>
        <div>
            <span>Password: </span>
            <input type="password" formControlName="password" required/>
        </div>
        <div>
            <input [disabled]="!loginForm.valid" type="submit" />
        </div>
        </ng-container>
    </form>
</ng-container>