<div class="custom-padding-1">
    <h3>{{formHeading}}</h3>

    <a routerLink="/">Go Back to Home Page</a>

    <form [formGroup]="employeeForm" (ngSubmit)="onButtonSubmit()">
        <table class="form-styles" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <label for="firstName">First Name: </label>                    
                </td>
                <td [ngClass]="{'hasError': (employeeForm.get('firstName').errors && (employeeForm.get('firstName').errors.touched || employeeForm.get('firstName').dirty))}">
                    <input type="text" formControlName="firstName" />                    
                </td>
                <td [ngClass]="{'hasError': (employeeForm.get('firstName').errors && (employeeForm.get('firstName').errors.touched || employeeForm.get('firstName').dirty))}">
                    <ng-template [ngIf]="(employeeForm.get('firstName').errors && (employeeForm.get('firstName').errors.touched || employeeForm.get('firstName').dirty))">
                        <label class="name">Incorrect first Name</label>
                    </ng-template>
                </td>             
            </tr>
            <tr>
                <td>
                    <label for="lastName">Last Name: </label>
                </td>
                <td [ngClass]="{'hasError': (employeeForm.get('lastName').errors && (employeeForm.get('lastName').errors.touched || employeeForm.get('lastName').dirty))}">
                    <input type="text" formControlName="lastName" />                    
                </td>
                <td [ngClass]="{'hasError': (employeeForm.get('lastName').errors && (employeeForm.get('lastName').errors.touched || employeeForm.get('lastName').dirty))}">
                    <ng-template [ngIf]="(employeeForm.get('lastName').errors && (employeeForm.get('lastName').errors.touched || employeeForm.get('lastName').dirty))">
                        <label class="name">Incorrect last Name</label>
                    </ng-template>
                </td>        
            </tr>
            <tr>
                <td>
                    <label for="emailId">Email Id: </label>
                </td>
                <td [ngClass]="{'hasError': (employeeForm.get('emailId').errors && (employeeForm.get('emailId').errors.touched || employeeForm.get('emailId').dirty))}">
                    <input type="text" formControlName="emailId" />                    
                </td>
                <td [ngClass]="{'hasError': (employeeForm.get('emailId').errors && (employeeForm.get('emailId').errors.touched || employeeForm.get('emailId').dirty))}">
                    <ng-template [ngIf]="(employeeForm.get('emailId').errors && (employeeForm.get('emailId').errors.touched || employeeForm.get('emailId').dirty))">
                        <label class="name">Incorrect emailId</label>
                    </ng-template>
                </td>              
            </tr>
            <tr> 
                <td>
                    <input type="submit" [disabled]="!employeeForm.valid" value="Submit" />
                </td> 
            </tr>
        </table>                   
    </form>
</div>