<div class="custom-padding-1">
    <h3>{{formHeading}}</h3>

    <a routerLink="/">Go Back to Home Page</a>

    <form [formGroup]="employeeForm" (ngSubmit)="onButtonSubmit()">
        <table align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="fff" style="width: 100%;
        background-color: #fff; max-width: 600px;">
            <tr [ngClass]="{'hasError': employeeForm.get('firstName').errors}">
                <td style="display: inline-block; padding: 5px;">
                    <label for="firstName">First Name: </label>                    
                </td>
                <td style="display: inline-block; padding: 5px;">
                    <input type="text" formControlName="firstName" />
                    <ng-template [ngIf]="employeeForm.get('firstName').errors">
                        <div class="name">Incorrect first Name</div>
                    </ng-template>
                </td>                
            </tr>
            <tr>
                <td style="display: inline-block; padding: 5px;">
                    <label for="lastName">Last Name: </label>
                </td>
                <td style="display: inline-block; padding: 5px;">
                    <input type="text" formControlName="lastName" />
                    <ng-template [ngIf]="employeeForm.get('lastName').errors">
                        <div class="name">Incorrect last Name</div>
                    </ng-template>
                </td>                
            </tr>
            <tr>
                <td style="display: inline-block; padding: 5px;">
                    <label for="emailId">Email Id: </label>
                </td>
                <td style="display: inline-block; padding: 5px;">
                    <input type="text" formControlName="emailId" />
                    <ng-template [ngIf]="employeeForm.get('emailId').errors">
                        <div class="name">Incorrect emailId</div>
                    </ng-template>
                </td>                
            </tr>
            <tr> 
                <td style="display: inline-block; padding: 5px;">
                    <input type="submit" [disabled]="!employeeForm.valid" value="Submit" />
                </td> 
            </tr>
        </table>                   
    </form>
</div>